.text {
    color: white;
    background-color: rgb(95,95,213);
    border-radius: 0.5vw;
    padding: 2vw;
    text-align: center;
    box-shadow: inset 0vw 0vw 1vw rgba(38, 38, 65, 0.905);
    font-size: 3rem;
}