.question {
    text-shadow: 0.2vw 0.2vw 1vw black;
    color: rgb(222, 219, 215);
    border-radius: 1vw;
    min-width: 25.3vw;
    background-color: rgb(95,95,213);
    padding: 2vw;
    box-shadow: inset 0vw 0vw 1vw rgba(38, 38, 65, 0.905);
    font-size: 2rem;
}