.headline {
    font-size: 3rem;
    color: white;
    text-shadow: 0.4vw 0.4vw 0.4vw rgba(0, 0, 0, 0.144);
    width: 36vw;
    text-align: start;
    background-color: rgb(95,95,213);
    margin-left: 70vw;
    border-radius: 1vw;
    padding: 2vw;
    position: relative;
    margin-top: 5vw;
    box-shadow: inset 0vw 0vw 1vw rgba(38, 38, 65, 0.905);
    margin-bottom: 5vw;
}

#tab {
    top: -3vw;
}