.bubble {
    height: fit-content;
    width: fit-content;
    padding: 2vw;
    background-color: white;
    color: rgb(95,95,213);
    border-radius: 1vw;
    text-shadow: 0.4vw 0.4vw 0.4vw rgba(0, 0, 0, 0.144);
    transition: all 0.4s ease-in-out;
    box-shadow: inset 0vw 0vw 1vw rgba(90, 88, 195, 0.905);
    
    h1 {
        font-size: 2.8rem;
        margin-bottom: 1vw;
    }
    p {
        font-size: 2rem;
        background: rgb(95,95,213);
        color: white;
        padding: 1vw;
        border-radius: 1vw;
        box-shadow: inset 0vw 0vw 1vw rgba(0, 0, 0, 0.536);
    }
}
#tab {
    margin-top: 18.5vh;
}

#full {
    width: 19.5vw;
}